<!DOCTYPE html>
<html lang="en">
    <head>
        {# Meta Tags #}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#000000"/>
        <meta name="description" content="{{ description | default('WebGL 3D Engine made from scratch.') }}"/>

        {# Title #}
        <title>{{ title | default('WebGL 3D Engine') }}</title>

        {# Favicon and Apple Touch Icons #}
        {# <link rel="icon" sizes="192x192" href="{{ faviconPath | default('https://res.cloudinary.com/dpv0ukspz/image/upload/v1705874625/zaqijo0q4sxhoatkqbtg.ico') }}"> #}
        {# <link rel="apple-touch-icon" sizes="180x180" href="{{ appleTouchIconPath | default('https://res.cloudinary.com/dpv0ukspz/image/upload/v1705874625/zaqijo0q4sxhoatkqbtg.ico') }}"> #}

        {# Canonical Tag #}
        {# <link rel="canonical" href="{{ canonicalUrl | default('https://www.michalzalobny.com') }}"> #}

        {# Open Graph Tags #}
        <meta property="og:title" content="{{ title | default('WebGL 3D Engine') }}">
        <meta property="og:description" content="{{ description | default('WebGL 3D Engine made from scratch.') }}">
        <meta property="og:image" content="{{ ogImage | default('https://res.cloudinary.com/dpv0ukspz/image/upload/v1708602890/og-122-100_wqiz6s.jpg') }}">
        <meta property="og:url" content="{{ ogUrl | default('https://tranquil-pixie-7ecd9c.netlify.app/') }}">

        {# Twitter Card Tags #}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ title | default('WebGL 3D Engine') }}">
        <meta name="twitter:description" content="{{ description | default('WebGL 3D Engine made from scratch.') }}">
        <meta name="twitter:image" content="{{ ogImage | default('https://res.cloudinary.com/dpv0ukspz/image/upload/v1708602890/og-122-100_wqiz6s.jpg') }}">

        {# Stylesheet with Preload #}
        <link rel="preload" href="/css/index.css" as="style">
        <link rel="stylesheet" href="/css/index.css">

    </head>

    <body>
        {# Main Content #}
        <main>
            <div data-transition-wrapper>
                <article>
                    {{content | safe}}
                </article>
            </div>
        </main>

        <div class="debug-holder">debug</div>
        <canvas id="canvas"></canvas>

        {# Scripts #}
        <script type="module" defer src="/js/index.js"></script>
    </body>
</html>